# Configuración de Pi-Hole
# WEBPASSWORD: Contraseña para la interfaz web de administración
WEBPASSWORD=tu_contraseña_admin
TZ=Europe/Madrid

# DNS upstream (proveedores DNS a los que Pi-Hole redirigirá las consultas)
PIHOLE_DNS_1=1.1.1.1
PIHOLE_DNS_2=8.8.8.8
