# ==========================================
# CREDENCIALES DE ACCESO
# ==========================================
# ⚠️ CAMBIA ESTAS CONTRASEÑAS ANTES DE DESPLEGAR
WEBPASSWORD_PRIMARY=AdminP1H0l3_2024_S3gur0!
WEBPASSWORD_SECONDARY=AdminP1H0l3_2024_S3gur0!

# ==========================================
# CONFIGURACIÓN DE RED (MACVLAN)
# ==========================================
# Cambia esto por la subred y puerta de enlace de tu casa
MACVLAN_SUBNET=192.168.1.0/24
MACVLAN_GATEWAY=192.168.1.1

# Las IPs libres que vas a asignar a cada Pi-hole
PIHOLE_PRIMARY_IP=192.168.1.252
PIHOLE_SECONDARY_IP=192.168.1.253

# El nombre de tu tarjeta de red física (ej: eth0, ens18, enp3s0)
# Puedes descubrirlo ejecutando: ip a
MACVLAN_PARENT_INTERFACE=eth0

# ==========================================
# SINCRONIZACIÓN (ORBITAL SYNC)
# ==========================================
SYNC_INTERVAL_MINUTES=5