# Configuración de MariaDB
MARIADB_ROOT_PASSWORD=cambiame_root_password
MARIADB_DATABASE=glpidb
MARIADB_USER=glpi_user
MARIADB_PASSWORD=cambiame_glpi_password

# Configuración de GLPI
TIMEZONE=Europe/Madrid