# ==========================================
# ⚙️ CONFIGURACIÓN DE AUTHENTIK
# ==========================================
# Fija la versión para evitar roturas en producción
AUTHENTIK_TAG=2026.2.3

# Genera una clave criptográfica (Usa 'make generate-secret')
AUTHENTIK_SECRET_KEY=CHANGE_ME_SECRET_KEY

# Desactiva telemetría externa por privacidad
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_DISABLE_UPDATE_CHECK=true

# ==========================================
# 🗄️ BASE DE DATOS (POSTGRESQL)
# ==========================================
PG_USER=authentik
PG_DB=authentik
# Contraseña para PostgreSQL (Usa 'make generate-secret')
PG_PASS=CHANGE_ME_DB_PASSWORD